on:
  push:
    branches:
      - master






jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'printing  before  '
        run: ls

      - uses: actions/checkout@v3
      - name: 'printing after  '
        run: ls
      
    


